In [1]:
import pandas as pd
import torch

In [2]:
data = pd.read_csv(r'../../datasets/house_tiny.csv')

In [3]:
data

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN  106000
2       4.0    Slate  178100
3       NaN      NaN  140000

## Data Preparation

In supervised learning, models are trained to predict a _target_ value given a set of _input_ values. 

The first step in processing the dataset is to seperate the columns corresponding to input and target values. We can select columns either by particular labels (`data.loc`) or via integer locations (`data.iloc`).

In [4]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]

In [5]:
inputs

   NumRooms RoofType
0       NaN      NaN
1       2.0      NaN
2       4.0    Slate
3       NaN      NaN

In [6]:
targets

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

Entries with value NA or missing values are replaced with `NaN` (not a number). Depending on the context, they can be handled either through _imputation_ or _deletion_.
- Imputation replaces missing values with estimates.
- Deletion means discrading the rows and columns that contains missing values.

### Common imputation heuristics

For categorical input fields, we can treat `NaN` as a category. 

The `RoomType` column has values `Slate` and `NaN`. Therefore, the column can be coverted into two columns: `RoofType_Slate` and `RoofType_nan`.

In [7]:
inputs = pd.get_dummies(inputs, dummy_na=True)

In [8]:
inputs

   NumRooms  RoofType_Slate  RoofType_nan
0       NaN           False          True
1       2.0           False          True
2       4.0            True         False
3       NaN           False          True

For missing numerical values, a common heuristic is to replace the `NaN` entries with the mean of the corresponding column.

In [9]:
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms  RoofType_Slate  RoofType_nan
0       3.0           False          True
1       2.0           False          True
2       4.0            True         False
3       3.0           False          True

## Conversion to Tensor Format

When all entries in `inputs` and `targets` are numerical (Boolean values are converted to 0s and 1s), they can now be loaded into a tensor.

In [10]:
X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(targets.to_numpy(dtype=float))

In [11]:
X

tensor([[3., 0., 1.],
        [2., 0., 1.],
        [4., 1., 0.],
        [3., 0., 1.]], dtype=torch.float64)

In [12]:
y

tensor([127500., 106000., 178100., 140000.], dtype=torch.float64)

There will be more data processing skills in [Section 5.7](https://d2l.ai/chapter_multilayer-perceptrons/kaggle-house-price.html#sec-kaggle-house).

Data processing can get messy for a myriad of reasons. The problems will become apparent once we get to computer vision and natural language processing. 

Real-world datasets are also ften affected by outliers, faulty measurements, and recording errors which must be addressed before data is fed into a model. Also, data visualization tools are not only useful in presenting data but also inspecting data.

## Exercises

1. Try loading datasets, e.g., Abalone from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/dataset/1/abalone) and inspect their properties. 
- What fraction of them has missing values? 
- What fraction of the variables is numerical, categorical, or text?

In [18]:
abalone_names= ["sex", "length", "diameter", "height", "whole_weight", 
                "shucked_weight", "viscera_weight", "shell_weight", "rings"]
abalone_data = pd.read_csv(r'../../datasets/abalone.data', names=abalone_names)

In [24]:
abalone_data.isna().mean()

sex               0.0
length            0.0
diameter          0.0
height            0.0
whole_weight      0.0
shucked_weight    0.0
viscera_weight    0.0
shell_weight      0.0
rings             0.0
dtype: float64

In [31]:
numerical_cols = abalone_data.select_dtypes(include=["number"]).shape[1]
categorical_cols = abalone_data.select_dtypes(include=["object"]).shape[1]
total_cols = abalone_data.shape[1]

In [43]:
numerical_percentage = round(numerical_cols/total_cols, 4) * 100
categorical_percentage = round(categorical_cols/total_cols, 4) * 100

In [45]:
print(f'numerical variables: {numerical_percentage}%')
print(f'categorical variables: {categorical_percentage}%')

numerical variables: 88.89%
categorical variables: 0.1111%

2. Try indexing and selecting data columns by name rather than by column number. The pandas documentation on indexing has further details on how to do this.

In [55]:
sex_cols = abalone_data.loc[:, 'sex']
sex_cols.head()

0    M
1    M
2    F
3    M
4    I
Name: sex, dtype: object

In [54]:
dimensions = abalone_data.loc[:, ("length", "diameter", "height")]
dimensions.head()

   length  diameter  height
0   0.455     0.365   0.095
1   0.350     0.265   0.090
2   0.530     0.420   0.135
3   0.440     0.365   0.125
4   0.330     0.255   0.080

3. How large a dataset do you think you could load this way? What might be the limitations? Hint: consider the time to read the data, representation, processing, and memory footprint. Try this out on your laptop. What happens if you try it out on a server?
- I don't want to limit test as of the moment. But this is dependent on the RAM of one's system. It is likely that servers have more resources. Meaning, they can handle larger datasets better.

4. How would you deal with data that has a very large number of categories? What if the category labels are all unique? Should you include the latter?
- An excessive amount of categories the information it provides may not be useful. First, a model may likely struggle learn meaningful patterns. Second, each category may contain sparse data. Last, categories may be similar or irrelevant. Consider grouping similar categories or deleting irrelevant categories. Frequency encoding or mean encoding may also be useful.

5. What alternatives to pandas can you think of?
- [Polars](https://github.com/pola-rs/polars) is another Dataframe library. It is fast and multi-threaded. The library claims that it [processes large DataFrames faster](https://www.linkedin.com/pulse/polars-vs-pandas-benchmarking-performances-beyond-l6svf).